.header-1 {    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 144px;
    line-height: 169px;

    color: #E7E7EB;
}

.header-2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;

    color: #E7E7EB;
}

.subheader-1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    
    color: #E7E7EB;
}

.subheader-2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    
    color: #A09FB1;
}

.body-copy {    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    color: #E7E7EB;
}

.small {        
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;

    color: #A09FB1;
}